* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 60px; /* Para evitar sobreposição do cabeçalho */
    min-height: 100vh; /* Garante que o rodapé fique no fundo */
    margin-bottom: 40px; /* Espaço para o rodapé */
}

header {
    background-color: #502004;
    color: white;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    border-radius: 150px;
    position: absolute;
    top: 15px;
    left: 20px;
    max-width: 70px;
}

header h1 {
    margin: 10px 0;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    margin: 0 auto;
}

#home h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

#home p {
    font-size: 50px;
    color: #666;
}

#cadastro {
    border-radius: 50px;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 100px auto 20px auto;
}

form {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #3b1803;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2b0404;
}

#videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 100px auto 40px auto;
    width: 100%;
    box-sizing: border-box;
}

.media-item {
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.media-item h3 {
    font-size: 26px;
    font-weight: bold;
    color: #722f37;
    margin: 20px 0;
}

.media-item iframe {
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .media-item iframe {
        height: 350px;
    }
}

@media (max-width: 480px) {
    .media-item iframe {
        height: 250px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #502004;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
